<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>CaveMan0001.png</key>
		<dict>
			<key>x</key>
			<integer>173</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-49.5</real>
			<key>offsetY</key>
			<real>-24.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0002.png</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>887</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>-50.5</real>
			<key>offsetY</key>
			<real>-24</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0003.png</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>797</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-50.5</real>
			<key>offsetY</key>
			<real>-24.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0004.png</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>707</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-50.5</real>
			<key>offsetY</key>
			<real>-24.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0005.png</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>618</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>-51</real>
			<key>offsetY</key>
			<real>-25</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0006.png</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>529</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>-52.5</real>
			<key>offsetY</key>
			<real>-25</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0007.png</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>441</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-53.5</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0008.png</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>353</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-54</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0009.png</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>265</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-53</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0010.png</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-52.5</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0011.png</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>89</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-54</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0012.png</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>55</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-55</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0013.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>881</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-55.5</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0014.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>793</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-55.5</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0015.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>705</integer>
			<key>width</key>
			<integer>55</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-55</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0016.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>617</integer>
			<key>width</key>
			<integer>55</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-55</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0017.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>529</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-56</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0018.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>441</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-56</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0019.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>353</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-55.5</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0020.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>265</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-55.5</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0021.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-55.5</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0022.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>89</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-55.5</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0023.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-55.5</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0024.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>890</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-55.5</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0025.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>802</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-56</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0026.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>714</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-56</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0027.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>626</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-56</real>
			<key>offsetY</key>
			<real>-25.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0028.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>537</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>-51.5</real>
			<key>offsetY</key>
			<real>-25</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0029.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>448</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>-51.5</real>
			<key>offsetY</key>
			<real>-25</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0030.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>359</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>-51.5</real>
			<key>offsetY</key>
			<real>-25</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0031.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>270</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>-50.5</real>
			<key>offsetY</key>
			<real>-25</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0032.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>181</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>-50.5</real>
			<key>offsetY</key>
			<real>-25</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0033.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-49.5</real>
			<key>offsetY</key>
			<real>-24.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>CaveMan0034.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-49.5</real>
			<key>offsetY</key>
			<real>-24.5</real>
			<key>originalWidth</key>
			<integer>261</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
	</dict>
</dict>
</plist>